body {
  width: 100%;
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
}

.App {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/*Global responsive hooks*/
@media (max-width: 450px) {
  div.sale-object {
    padding: 30px 10px;
  }
}

@media (max-width: 950px) {
  div.sale-object {
    position: static;
    width: 100%;
    border-radius: 0;
  }
  div.containerElement,
  div.mapElement {
    height: 500px;
  }
}